# **2.1 Print Numbers 1 to 10**

In [ ]:
count:int= 1
while count <= 10:
 print(count)
 count += 1

1
2
3
4
5
6
7
8
9
10

# **2.2 Sum of First N Natural Numbers**

In [ ]:
N=int(input("Enter a positive integer N:"))
num=0
count=1
while count <=N:
  num += count
  count += 1
  print("The sum of first", N, "natural numbers is:", num)

Enter a positive integer N:10
The sum of first 10 natural numbers is: 1
The sum of first 10 natural numbers is: 3
The sum of first 10 natural numbers is: 6
The sum of first 10 natural numbers is: 10
The sum of first 10 natural numbers is: 15
The sum of first 10 natural numbers is: 21
The sum of first 10 natural numbers is: 28
The sum of first 10 natural numbers is: 36
The sum of first 10 natural numbers is: 45
The sum of first 10 natural numbers is: 55

# **2.3 Print Even Numbers Up To N**

In [ ]:
# Ask the user for integer N
N = int(input("Enter an integer N: "))

# Use a for loop to print all even numbers up to N
for i in range(1, N + 1):
    if i % 2 == 0:
        print("Even Number Integer N :",i)

Enter an integer N: 5
Even Number Integer N : 2
Even Number Integer N : 4

# **2.4 Countdown Timer**

In [7]:
User = input("Enter starting Number:")
while i >= 0:
  print(i)
  user -=1
print("Liftoff!")

Enter starting Number:2
Liftoff!